/*Coeur*/
@keyframes coeur-plein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Nouveau menu*/
@keyframes nouveau {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
/*Bouton header*/
@keyframes active-btn {
  0% {
    box-shadow: inset -8px -10px 48px 10px rgb(216, 103, 192), 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
  }
  100% {
    box-shadow: inset -8px -10px 48px 10px rgb(216, 103, 192), 0px 10px 5px 0px rgba(0, 0, 0, 0.281);
  }
}
/*Fonctionnement*/
@keyframes active_card {
  0% {
    background: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
  }
  100% {
    background: #f2eafb;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.281);
  }
}
@keyframes active_icon {
  0% {
    color: #F6F6F6;
  }
  100% {
    color: #9356dc;
  }
}
/* Chargement*/
@keyframes texte-chargement {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes chargement {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes gauche-droite {
  0% {
    opacity: 0;
    transform: translateX(-283%);
  }
  50% {
    opacity: 1;
    transform: translateX(190%);
  }
  100% {
    opacity: 0;
    transform: translateX(-283%);
  }
}
/*card menu*/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes deffilement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes checked {
  0% {
    width: 0px;
  }
  25% {
    width: 40px;
  }
  50% {
    width: 50px;
  }
  75% {
    width: 70px;
  }
  100% {
    width: 90px;
  }
}
h1 {
  font-family: shrikhand;
}

h2, h3, h4, h5, h6, p, input, span {
  font-family: roboto, sans-serif;
}

@font-face {
  font-family: "roboto";
  src: url("../../fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("../../fonts/shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
/*Index*/
/*Bouton header*/
.block-btn__btn {
  margin: 20px 0px 50px 0px;
  background: #FF79DA;
  background: linear-gradient(356deg, rgb(131, 58, 180) 11%, rgb(240, 113, 213) 100%, rgb(255, 121, 218) 100%);
  color: white;
  border-radius: 25px;
  padding: 16px 20px 16px 20px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
  border: 3px #EAEAEA;
}
.block-btn__btn:hover {
  cursor: pointer;
  animation: active-btn 300ms forwards;
}

/*Bouton coeur*/
.card-restaurant__btn {
  position: absolute;
  margin: 220px 140px 0px 280px;
  font-size: 30px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.card-restaurant__btn .fas {
  opacity: 0;
}
.card-restaurant__btn .fas:hover {
  animation: coeur-plein 500ms forwards;
  color: #9356dc;
}

/*Menu*/
/*Bouton coeur*/
.section-menu__btn {
  width: 30px;
  position: absolute;
  font-size: 30px;
  border: none;
  background-color: #F6F6F6;
  cursor: pointer;
  margin-left: 300px;
}
.section-menu__btn--coeur {
  font-size: 25px;
}
.section-menu__btn .fas {
  opacity: 0;
}
.section-menu__btn .fas:hover {
  animation: coeur-plein 500ms forwards;
  color: #9356dc;
}

/*Bouton Commander*/
.btn {
  width: 180px;
  margin: 45px 0px 50px 0px;
  background: #FF79DA;
  background: linear-gradient(356deg, rgb(131, 58, 180) 11%, rgb(240, 113, 213) 100%, rgb(255, 121, 218) 100%);
  color: white;
  border-radius: 25px;
  padding: 16px 20px 16px 20px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
  border: 3px #EAEAEA;
}
.btn:hover {
  cursor: pointer;
  animation: active-btn 300ms forwards;
}

/*Header Index*/
.logo {
  text-align: center;
  font-size: 30px;
  padding: 0px;
}
@media screen and (min-width: 992px) {
  .logo {
    font-size: 40px;
  }
}

.block-loc {
  box-shadow: 0px 90px 9px -87px rgba(0, 0, 0, 0.18) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.block-loc__icon {
  margin-right: 15px;
}

.block-btn-loc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.block-btn-loc__titre {
  text-align: center;
  margin: 0px;
  font-size: 23px;
  padding: 28px 70px 10px 70px;
  font-weight: bold;
}
.block-btn-loc__text-prensentation {
  color: rgb(64, 64, 64);
  text-align: center;
  padding: 0px 30px 5px 30px;
}

/*Header menu*/
.section-header {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .section-header__img {
    width: auto;
    height: 600px;
    object-fit: cover;
  }
}
.section-header__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section-header__block--fleche {
  color: black;
  font-size: 20px;
}
.section-header__block--logo {
  font-size: 30px;
  padding: 0px 60px 0px 60px;
}

.block-loc__recherche {
  width: 125px;
  margin: 15px 0px 15px 0px;
  text-align: center;
  border: none;
  background-color: #EAEAEA;
}

.section-footer {
  background: #353535;
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .section-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 180px;
  }
}
@media screen and (min-width: 768px) {
  .section-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.section-footer__logo {
  font-family: shrikhand;
  color: white;
  font-weight: normal;
  font-size: 25px;
  margin: 0px 0px 0px 20px;
  padding-top: 20px;
}
@media screen and (min-width: 992px) {
  .section-footer__logo {
    font-size: 30px;
  }
}

.footer-ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px 0px 20px 20px;
}
@media screen and (min-width: 992px) {
  .footer-ul {
    display: flex;
    flex-direction: row;
  }
}
.footer-ul__li {
  padding-top: 10px;
}
.footer-ul__li--a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
@media screen and (min-width: 992px) {
  .footer-ul__li--a {
    margin-right: 15px;
  }
}
.footer-ul__li--icon1 {
  color: white;
  margin-right: 5px;
}
.footer-ul__li--icon2 {
  color: white;
}

/*CHhargement*/
.chargement {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.chargement::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
  animation: chargement 3000ms forwards ease;
}
.chargement__titre {
  margin-top: 700px;
  position: absolute;
  z-index: 999;
  font-size: 50px;
  animation: texte-chargement 3000ms ease both;
}
.chargement__icon {
  position: absolute;
  top: 55%;
  z-index: 999;
  font-size: 50px;
  animation: gauche-droite 3000ms ease both;
}

/*Main*/
@media screen and (min-width: 992px) {
  main {
    display: flex;
    flex-direction: row;
  }
}

/* Partie Fonctionnement */
.section-fonctionnement {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .section-fonctionnement {
    width: 320px;
    border-right: solid 2px #F6F6F6;
  }
}
.section-fonctionnement__titre {
  margin-left: 20px;
  font-weight: bold;
}

.block-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media screen and (min-width: 992px) {
  .block-fonctionnement {
    align-items: flex-start;
    margin-left: 20px;
    padding-right: 10px;
    gap: 40px;
    margin-top: 20px;
  }
}
.block-fonctionnement__icon {
  color: rgb(126, 126, 126);
  margin-right: 15px;
}
.block-fonctionnement__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  margin-right: 280px;
  background: #9356dc;
  border-radius: 25px;
  color: white;
  font-size: 12px;
}
.block-fonctionnement__texte-composez {
  margin-right: 20px;
}
.block-fonctionnement__texte-degustez {
  margin-right: 15px;
}

.block-fonctionnement__card {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 60px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
}
.block-fonctionnement__card:hover {
  animation: active_card 300ms forwards;
}
.block-fonctionnement__card:hover .block-fonctionnement__icon {
  animation: active_icon 0ms forwards;
}

/* Partie Restaurants*/
.section-restaurant {
  width: 100%;
  height: 1350px;
  margin-top: 50px;
  background: #F6F6F6;
  padding-top: 50px;
}
@media screen and (min-width: 992px) {
  .section-restaurant {
    margin-top: 0px;
    padding-top: 20px;
    background: white;
    height: auto;
  }
}
.section-restaurant__titre {
  margin: 0px 0px 0px 20px;
  font-weight: bold;
}
.section-restaurant__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
@media screen and (min-width: 992px) {
  .section-restaurant__block {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.card-restaurant {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 280px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
}
@media screen and (min-width: 992px) {
  .card-restaurant {
    background: #F6F6F6;
    margin: 20px 0px 50px 10px;
  }
}
.card-restaurant__lien {
  text-decoration: none;
}
.card-restaurant__lien--nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 35px;
  background: #99E2D0;
  margin: 20px 0px 0px 240px;
  color: #008766;
  font-weight: bold;
  animation: nouveau 2000ms forwards infinite;
}
.card-restaurant__lien--img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card-restaurant__lien--titre {
  color: black;
  font-weight: bold;
  margin: 10px 0px 10px 15px;
}
.card-restaurant__lien--texte {
  color: rgb(64, 64, 64);
  margin: 0px 0px 8px 15px;
}

.section-menu {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  margin-top: -35px;
  padding-top: 30px;
  border-radius: 30px 30px 0px 0px;
  position: relative;
}
.section-menu__titre-resto {
  font-family: shrikhand;
  margin: 0px 0px 10px 20px;
}

/*Animation deffilement*/
.section-entrees {
  animation: deffilement 1500ms both 0ms;
}

.section-plats {
  animation: deffilement 1500ms both 1500ms;
}

.section-desserts {
  animation: deffilement 1500ms both 3500ms;
}

/*card Entrees*/
.section-entrees_card1 {
  animation: deffilement 1500ms both 0ms;
}

.section-entrees_card2 {
  animation: deffilement 1500ms both 500ms;
}

.section-entrees_card3 {
  animation: deffilement 1500ms both 1000ms;
}

.section-entrees_card4 {
  animation: deffilement 3000ms both 1500ms;
}

/*card plats*/
.section-plats_card1 {
  animation: deffilement 1500ms both 2000ms;
}

.section-plats_card2 {
  animation: deffilement 1500ms both 2500ms;
}

.section-plats_card3 {
  animation: deffilement 3000ms both 3000ms;
}

/*card desserts*/
.section-desserts_card1 {
  animation: deffilement 1500ms both 4000ms;
}

.section-desserts_card2 {
  animation: deffilement 1500ms both 4500ms;
}

.section-desserts_card3 {
  animation: deffilement 3000ms both 5000ms;
}

/*Section card menu*/
.section-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .section-desktop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}

.section-menu__centre-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .section-menu {
    display: flex;
    align-items: center;
    width: 2000px;
  }
}

.section-entrees,
.section-plats,
.section-desserts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media screen and (min-width: 992px) {
  .section-entrees,
.section-plats,
.section-desserts {
    margin: 50px;
  }
}
.section-entrees_titre,
.section-plats_titre,
.section-desserts_titre {
  display: flex;
  color: rgb(64, 64, 64);
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 16px;
}
.section-entrees_titre::after,
.section-plats_titre::after,
.section-desserts_titre::after {
  content: "";
  display: block;
  background: #99E2D0;
  width: 40px;
  height: 3px;
  position: absolute;
  margin-top: 25px;
}
.section-entrees_card1, .section-entrees_card2, .section-entrees_card3, .section-entrees_card4,
.section-plats_card1,
.section-plats_card2,
.section-plats_card3,
.section-plats_card4,
.section-desserts_card1,
.section-desserts_card2,
.section-desserts_card3,
.section-desserts_card4 {
  width: 350px;
  height: 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
  cursor: pointer;
}
.section-entrees_card1--texte, .section-entrees_card2--texte, .section-entrees_card3--texte, .section-entrees_card4--texte,
.section-plats_card1--texte,
.section-plats_card2--texte,
.section-plats_card3--texte,
.section-plats_card4--texte,
.section-desserts_card1--texte,
.section-desserts_card2--texte,
.section-desserts_card3--texte,
.section-desserts_card4--texte {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.section-entrees_card1--texte h4, .section-entrees_card2--texte h4, .section-entrees_card3--texte h4, .section-entrees_card4--texte h4,
.section-plats_card1--texte h4,
.section-plats_card2--texte h4,
.section-plats_card3--texte h4,
.section-plats_card4--texte h4,
.section-desserts_card1--texte h4,
.section-desserts_card2--texte h4,
.section-desserts_card3--texte h4,
.section-desserts_card4--texte h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0px 10px 20px;
  font-weight: bold;
  font-size: 17px;
}
.section-entrees_card1--texte p, .section-entrees_card2--texte p, .section-entrees_card3--texte p, .section-entrees_card4--texte p,
.section-plats_card1--texte p,
.section-plats_card2--texte p,
.section-plats_card3--texte p,
.section-plats_card4--texte p,
.section-desserts_card1--texte p,
.section-desserts_card2--texte p,
.section-desserts_card3--texte p,
.section-desserts_card4--texte p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0px 10px 20px;
  font-size: 14px;
  color: rgb(64, 64, 64);
}
.section-entrees_card1--prix, .section-entrees_card2--prix, .section-entrees_card3--prix, .section-entrees_card4--prix,
.section-plats_card1--prix,
.section-plats_card2--prix,
.section-plats_card3--prix,
.section-plats_card4--prix,
.section-desserts_card1--prix,
.section-desserts_card2--prix,
.section-desserts_card3--prix,
.section-desserts_card4--prix {
  display: flex;
  justify-content: end;
  width: 10%;
  font-weight: bold;
  margin-right: 10px;
}
.section-entrees_card1--prix p, .section-entrees_card2--prix p, .section-entrees_card3--prix p, .section-entrees_card4--prix p,
.section-plats_card1--prix p,
.section-plats_card2--prix p,
.section-plats_card3--prix p,
.section-plats_card4--prix p,
.section-desserts_card1--prix p,
.section-desserts_card2--prix p,
.section-desserts_card3--prix p,
.section-desserts_card4--prix p {
  padding-top: 25px;
}
.section-entrees_card1--icon, .section-entrees_card2--icon, .section-entrees_card3--icon, .section-entrees_card4--icon,
.section-plats_card1--icon,
.section-plats_card2--icon,
.section-plats_card3--icon,
.section-plats_card4--icon,
.section-desserts_card1--icon,
.section-desserts_card2--icon,
.section-desserts_card3--icon,
.section-desserts_card4--icon {
  width: 0px;
  background: #99E2D0;
  padding: 15px 0px 15px 0px;
  border-radius: 0px 20px 20px 0px;
}
.section-entrees_card1 .fa-check-circle, .section-entrees_card2 .fa-check-circle, .section-entrees_card3 .fa-check-circle, .section-entrees_card4 .fa-check-circle,
.section-plats_card1 .fa-check-circle,
.section-plats_card2 .fa-check-circle,
.section-plats_card3 .fa-check-circle,
.section-plats_card4 .fa-check-circle,
.section-desserts_card1 .fa-check-circle,
.section-desserts_card2 .fa-check-circle,
.section-desserts_card3 .fa-check-circle,
.section-desserts_card4 .fa-check-circle {
  display: flex;
  justify-content: center;
  font-size: 0px;
  color: #fff;
}
.section-entrees_card1:hover, .section-entrees_card2:hover, .section-entrees_card3:hover, .section-entrees_card4:hover,
.section-plats_card1:hover,
.section-plats_card2:hover,
.section-plats_card3:hover,
.section-plats_card4:hover,
.section-desserts_card1:hover,
.section-desserts_card2:hover,
.section-desserts_card3:hover,
.section-desserts_card4:hover {
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.281);
}
.section-entrees_card1:hover .section-entrees_card1--icon,
.section-entrees_card1:hover .section-plats_card1--icon,
.section-entrees_card1:hover .section-desserts_card1--icon,
.section-entrees_card1:hover .section-entrees_card2--icon,
.section-entrees_card1:hover .section-plats_card2--icon,
.section-entrees_card1:hover .section-desserts_card2--icon,
.section-entrees_card1:hover .section-entrees_card3--icon,
.section-entrees_card1:hover .section-plats_card3--icon,
.section-entrees_card1:hover .section-desserts_card3--icon,
.section-entrees_card1:hover .section-entrees_card4--icon, .section-entrees_card2:hover .section-entrees_card1--icon,
.section-entrees_card2:hover .section-plats_card1--icon,
.section-entrees_card2:hover .section-desserts_card1--icon,
.section-entrees_card2:hover .section-entrees_card2--icon,
.section-entrees_card2:hover .section-plats_card2--icon,
.section-entrees_card2:hover .section-desserts_card2--icon,
.section-entrees_card2:hover .section-entrees_card3--icon,
.section-entrees_card2:hover .section-plats_card3--icon,
.section-entrees_card2:hover .section-desserts_card3--icon,
.section-entrees_card2:hover .section-entrees_card4--icon, .section-entrees_card3:hover .section-entrees_card1--icon,
.section-entrees_card3:hover .section-plats_card1--icon,
.section-entrees_card3:hover .section-desserts_card1--icon,
.section-entrees_card3:hover .section-entrees_card2--icon,
.section-entrees_card3:hover .section-plats_card2--icon,
.section-entrees_card3:hover .section-desserts_card2--icon,
.section-entrees_card3:hover .section-entrees_card3--icon,
.section-entrees_card3:hover .section-plats_card3--icon,
.section-entrees_card3:hover .section-desserts_card3--icon,
.section-entrees_card3:hover .section-entrees_card4--icon, .section-entrees_card4:hover .section-entrees_card1--icon,
.section-entrees_card4:hover .section-plats_card1--icon,
.section-entrees_card4:hover .section-desserts_card1--icon,
.section-entrees_card4:hover .section-entrees_card2--icon,
.section-entrees_card4:hover .section-plats_card2--icon,
.section-entrees_card4:hover .section-desserts_card2--icon,
.section-entrees_card4:hover .section-entrees_card3--icon,
.section-entrees_card4:hover .section-plats_card3--icon,
.section-entrees_card4:hover .section-desserts_card3--icon,
.section-entrees_card4:hover .section-entrees_card4--icon,
.section-plats_card1:hover .section-entrees_card1--icon,
.section-plats_card1:hover .section-plats_card1--icon,
.section-plats_card1:hover .section-desserts_card1--icon,
.section-plats_card1:hover .section-entrees_card2--icon,
.section-plats_card1:hover .section-plats_card2--icon,
.section-plats_card1:hover .section-desserts_card2--icon,
.section-plats_card1:hover .section-entrees_card3--icon,
.section-plats_card1:hover .section-plats_card3--icon,
.section-plats_card1:hover .section-desserts_card3--icon,
.section-plats_card1:hover .section-entrees_card4--icon,
.section-plats_card2:hover .section-entrees_card1--icon,
.section-plats_card2:hover .section-plats_card1--icon,
.section-plats_card2:hover .section-desserts_card1--icon,
.section-plats_card2:hover .section-entrees_card2--icon,
.section-plats_card2:hover .section-plats_card2--icon,
.section-plats_card2:hover .section-desserts_card2--icon,
.section-plats_card2:hover .section-entrees_card3--icon,
.section-plats_card2:hover .section-plats_card3--icon,
.section-plats_card2:hover .section-desserts_card3--icon,
.section-plats_card2:hover .section-entrees_card4--icon,
.section-plats_card3:hover .section-entrees_card1--icon,
.section-plats_card3:hover .section-plats_card1--icon,
.section-plats_card3:hover .section-desserts_card1--icon,
.section-plats_card3:hover .section-entrees_card2--icon,
.section-plats_card3:hover .section-plats_card2--icon,
.section-plats_card3:hover .section-desserts_card2--icon,
.section-plats_card3:hover .section-entrees_card3--icon,
.section-plats_card3:hover .section-plats_card3--icon,
.section-plats_card3:hover .section-desserts_card3--icon,
.section-plats_card3:hover .section-entrees_card4--icon,
.section-plats_card4:hover .section-entrees_card1--icon,
.section-plats_card4:hover .section-plats_card1--icon,
.section-plats_card4:hover .section-desserts_card1--icon,
.section-plats_card4:hover .section-entrees_card2--icon,
.section-plats_card4:hover .section-plats_card2--icon,
.section-plats_card4:hover .section-desserts_card2--icon,
.section-plats_card4:hover .section-entrees_card3--icon,
.section-plats_card4:hover .section-plats_card3--icon,
.section-plats_card4:hover .section-desserts_card3--icon,
.section-plats_card4:hover .section-entrees_card4--icon,
.section-desserts_card1:hover .section-entrees_card1--icon,
.section-desserts_card1:hover .section-plats_card1--icon,
.section-desserts_card1:hover .section-desserts_card1--icon,
.section-desserts_card1:hover .section-entrees_card2--icon,
.section-desserts_card1:hover .section-plats_card2--icon,
.section-desserts_card1:hover .section-desserts_card2--icon,
.section-desserts_card1:hover .section-entrees_card3--icon,
.section-desserts_card1:hover .section-plats_card3--icon,
.section-desserts_card1:hover .section-desserts_card3--icon,
.section-desserts_card1:hover .section-entrees_card4--icon,
.section-desserts_card2:hover .section-entrees_card1--icon,
.section-desserts_card2:hover .section-plats_card1--icon,
.section-desserts_card2:hover .section-desserts_card1--icon,
.section-desserts_card2:hover .section-entrees_card2--icon,
.section-desserts_card2:hover .section-plats_card2--icon,
.section-desserts_card2:hover .section-desserts_card2--icon,
.section-desserts_card2:hover .section-entrees_card3--icon,
.section-desserts_card2:hover .section-plats_card3--icon,
.section-desserts_card2:hover .section-desserts_card3--icon,
.section-desserts_card2:hover .section-entrees_card4--icon,
.section-desserts_card3:hover .section-entrees_card1--icon,
.section-desserts_card3:hover .section-plats_card1--icon,
.section-desserts_card3:hover .section-desserts_card1--icon,
.section-desserts_card3:hover .section-entrees_card2--icon,
.section-desserts_card3:hover .section-plats_card2--icon,
.section-desserts_card3:hover .section-desserts_card2--icon,
.section-desserts_card3:hover .section-entrees_card3--icon,
.section-desserts_card3:hover .section-plats_card3--icon,
.section-desserts_card3:hover .section-desserts_card3--icon,
.section-desserts_card3:hover .section-entrees_card4--icon,
.section-desserts_card4:hover .section-entrees_card1--icon,
.section-desserts_card4:hover .section-plats_card1--icon,
.section-desserts_card4:hover .section-desserts_card1--icon,
.section-desserts_card4:hover .section-entrees_card2--icon,
.section-desserts_card4:hover .section-plats_card2--icon,
.section-desserts_card4:hover .section-desserts_card2--icon,
.section-desserts_card4:hover .section-entrees_card3--icon,
.section-desserts_card4:hover .section-plats_card3--icon,
.section-desserts_card4:hover .section-desserts_card3--icon,
.section-desserts_card4:hover .section-entrees_card4--icon {
  animation: checked 300ms forwards;
}
.section-entrees_card1:hover .fa-check-circle, .section-entrees_card2:hover .fa-check-circle, .section-entrees_card3:hover .fa-check-circle, .section-entrees_card4:hover .fa-check-circle,
.section-plats_card1:hover .fa-check-circle,
.section-plats_card2:hover .fa-check-circle,
.section-plats_card3:hover .fa-check-circle,
.section-plats_card4:hover .fa-check-circle,
.section-desserts_card1:hover .fa-check-circle,
.section-desserts_card2:hover .fa-check-circle,
.section-desserts_card3:hover .fa-check-circle,
.section-desserts_card4:hover .fa-check-circle {
  animation: rotation 1000ms forwards;
  font-size: 40px;
}

/*# sourceMappingURL=style.css.map */
