h1 {
  font-family: shrikhand;
}

h2, p, input {
  font-family: roboto, sans-serif;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("../fonts/shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.block-btn__btn {
  margin: 20px 0px 50px 0px;
  background-color: #FF79DA;
  color: white;
  border-radius: 25px;
  padding: 16px 20px 16px 20px;
  box-shadow: inset -8px -10px 48px 10px rgba(147, 86, 220, 0.6), 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
  border: 3px #EAEAEA;
}
.block-btn__btn:hover {
  cursor: pointer;
}

.logo {
  text-align: center;
  font-size: 30px;
  padding: 0px;
}

.block-loc {
  box-shadow: 0px 90px 9px -87px rgba(0, 0, 0, 0.18) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.block-loc__icon {
  margin-right: 15px;
}

.block-btn-loc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.block-btn-loc__titre {
  text-align: center;
  margin: 0px;
  font-size: 23px;
  padding: 28px 70px 10px 70px;
  font-weight: bold;
}
.block-btn-loc__texte {
  color: rgba(56, 56, 56, 0.662745098);
  text-align: center;
  padding: 0px 30px 5px 30px;
}

.block-loc__recherche {
  width: 125px;
  margin: 15px 0px 15px 0px;
  text-align: center;
  border: none;
  background-color: #EAEAEA;
}

.section-footer {
  background: #353535;
}
.section-footer__logo {
  font-family: shrikhand;
  color: white;
  font-weight: normal;
  font-size: 25px;
  margin: 0px 0px 0px 20px;
  padding-top: 20px;
}

.footer-ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0px;
  padding: 20px 0px 20px 20px;
}
.footer-ul__li {
  margin-bottom: 8px;
}
.footer-ul__li--a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.footer-ul__li--icon1 {
  color: white;
  margin-right: 5px;
}
.footer-ul__li--icon2 {
  color: white;
}

/* Partie Fonctionnement */
.section-fonctionnement {
  display: flex;
  flex-direction: column;
}
.section-fonctionnement__titre {
  margin-left: 20px;
  font-weight: bold;
}

.block-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.block-fonctionnement__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 60px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
}
.block-fonctionnement__card-rose {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 60px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
  background: #F5EDFF;
}
.block-fonctionnement__num {
  display: flex;
  justify-content: center;
  width: 20px;
  position: absolute;
  margin-right: 280px;
  background: rgb(147, 86, 220);
  border-radius: 25px;
  color: white;
}
.block-fonctionnement__texte-1 {
  margin-right: 20px;
}
.block-fonctionnement__texte-2 {
  margin-right: 15px;
}
.block-fonctionnement__icon {
  color: rgba(56, 56, 56, 0.662745098);
  margin-right: 15px;
}
.block-fonctionnement__icon-violet {
  color: rgba(56, 56, 56, 0.662745098);
  margin-right: 15px;
  color: rgb(147, 86, 220);
}

/* Partie Restaurants*/
.section-restaurant {
  width: 100%;
  height: 1350px;
  margin-top: 50px;
  background: #F6F6F6;
  padding-top: 50px;
}
.section-restaurant__titre {
  margin: 0px 0px 0px 20px;
  font-weight: bold;
}
.section-restaurant__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.card-restaurant {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 280px;
  background: white;
  border-radius: 20px;
}
.card-restaurant__icon {
  position: absolute;
  margin: 220px 140px 0px 280px;
  font-size: 30px;
}
.card-restaurant__lien {
  text-decoration: none;
}
.card-restaurant__lien--nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 35px;
  background: #99E2D0;
  margin: 20px 0px 0px 240px;
  color: #008766;
  font-weight: bold;
}
.card-restaurant__lien--img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card-restaurant__lien--titre {
  color: black;
  font-weight: bold;
  margin: 10px 0px 10px 15px;
}
.card-restaurant__lien--texte {
  color: rgba(56, 56, 56, 0.662745098);
  margin: 0px 0px 8px 15px;
}

/*# sourceMappingURL=style.css.map */
