/*Index*/
/*Bouton header*/
.block-btn {
    &__btn {
        margin: 20px 0px 50px 0px;
        background: $segondaire;
        background: linear-gradient(356deg, rgba(131,58,180,1) 11%, rgba(240,113,213,1) 100%, rgba(255,121,218,1) 100%);
        color: $blanc;
        border-radius: 25px;
        padding: 16px 20px 16px 20px;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
        ;
        border: 3px $gris_fonce;

        &:hover {
            cursor: pointer;
            animation: active-btn 300ms forwards;
        }
    }
}

/*Bouton coeur*/

.card-restaurant {

    &__btn {
        position: absolute;
        margin: 220px 140px 0px 280px;
        font-size: 30px;
        border: none;
        background-color: $blanc;
        cursor: pointer;

        .fas {
            opacity: 0;

            &:hover {
                animation: coeur-plein 500ms forwards;
                color: $primaire;
            }

        }
    }
}

/*Menu*/
/*Bouton coeur*/
.section-menu {
    &__btn {
        width: 30px;
        position: absolute;
        font-size: 30px;
        border: none;
        background-color: $gris_claire;
        cursor: pointer;
        margin-left: 300px;

        &--coeur {
            font-size: 25px;
            
        }

        .fas {
            opacity: 0;

            &:hover {
                animation: coeur-plein 500ms forwards;
                color: $primaire;
            }

        }
    }
}


/*Bouton Commander*/
.btn {
    width: 180px;
    margin: 45px 0px 50px 0px;
    background: $segondaire;
    background: linear-gradient(356deg, rgba(131,58,180,1) 11%, rgba(240,113,213,1) 100%, rgba(255,121,218,1) 100%);
    color: $blanc;
    border-radius: 25px;
    padding: 16px 20px 16px 20px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
    border: 3px $gris_fonce;

    &:hover {
        cursor: pointer;
        animation: active-btn 300ms forwards;
    }
}