@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhand';
    src: url('../../fonts/shrikhand/Shrikhand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
