/* Partie Fonctionnement */
.section-fonctionnement{
    display: flex;
    flex-direction: column;

    &__titre{
        margin-left: 20px;
        font-weight: bold;
    }
}

.block-fonctionnement{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 25px;

    &__card{
        @include fonctionnement-card;
    }

    &__card-rose{
        @include fonctionnement-card;
        background: $rose_pale;
    }

    &__num{
        display: flex;
        justify-content: center;
        width: 20px;
        position: absolute;
        margin-right: 280px;
        background: $primaire;
        border-radius: 25px;
        color: $blanc;
    }

    &__texte-1{
        margin-right: 20px;
    }

    &__texte-2{
        margin-right: 15px;
    }

    &__icon{
        @include fonctionnement-icon;
    }

    &__icon-violet{
        @include fonctionnement-icon;
        color: $primaire;
    }
}

/* Partie Restaurants*/



.section-restaurant{
    width: 100%;
    height: 1350px;
    margin-top: 50px;
    background: $gris_claire;
    padding-top: 50px;

    &__titre{
        
        margin: 0px 0px 0px 20px;
        font-weight: bold;
    }

    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 20px;
    }
}


.card-restaurant{
    display: flex;
    flex-direction: column;
    
    width: 350px;
    height: 280px;
    background: $blanc;
    border-radius: 20px;

    &__icon{
        position: absolute;
        margin: 220px 140px 0px 280px;
        font-size: 30px;
    }

    &__lien{
        text-decoration: none;

        &--nouveau{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100px;
            height: 35px;
            background: $menthe;
            margin: 20px 0px 0px 240px;
            color: $menthe_texte;
            font-weight: bold;
        }

        &--img{
            width: 350px;
            height: 200px;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
        }

        &--titre{
            color: $noir;
            font-weight: bold;
            margin: 10px 0px 10px 15px;
        }
        
        &--texte{
            color: $gris-texte;
            margin: 0px 0px 8px 15px;
        }
    }
}

