
/*Coeur*/
@keyframes coeur-plein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Nouveau menu*/

@keyframes nouveau {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity:0.5;
    }
}

/*Bouton header*/

@keyframes active-btn {
    0% {
        box-shadow: inset -8px -10px 48px 10px rgb(216, 103, 192),0px 3px 5px 0px rgba(0, 0, 0, 0.281);
    }
    100% {
        box-shadow: inset -8px -10px 48px 10px rgb(216, 103, 192),0px 10px 5px 0px rgba(0, 0, 0, 0.281);
    } 
}

/*Fonctionnement*/

@keyframes active_card {
    0% {
        background: $blanc;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
    }
    100% {
        background: lighten($primaire, 35%);
        box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.281);
    }
}

@keyframes active_icon {
    0% {
        color: $gris_claire;
    }
    100% {
        color: $primaire;
    }
}

/* Chargement*/

@keyframes texte-chargement {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes chargement {
    0%{ 
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}

@keyframes gauche-droite {
    0% {
        opacity: 0;
        transform: translateX(-283%);
    }
    50% {
        opacity: 1;
        transform: translateX(190%);
    }
    100% {
        opacity: 0;
        transform: translateX(-283%);
    }
}

/*card menu*/


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes deffilement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes checked {
    0% {
        width: 0px;
    }

    25%{
        width: 40px;
    }

    50%{
        width: 50px;
    }

    75%{
        width: 70px;
    }

    100% {
        width: 90px;
    }
}