@mixin fonctionnement-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 60px;
    border-radius: 20px;
    background: $gris_claire;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
}

@mixin fonctionnement-icon {
    color: $gris-logo;
    margin-right: 15px;
}

@mixin footer-icon {
    color: white;
}


@mixin desktop-version {
    @media screen and (min-width: map-get($breakpoints-desktop, desktop)){
        @content;
    } 
}

@mixin tablette-version {
    @media screen and (min-width: map-get($breakpoints-tablette, tablette)){
        @content;
    } 
}

@mixin box-shadow {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
}


@mixin box-shadow_active {
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.281);
}

