$primaire: rgb(147, 86, 220);
$segondaire: #FF79DA;
$tertiaire: #99E2D0;
$gris_claire: #F6F6F6;
$gris_fonce: #EAEAEA;
$rose_pale: #F5EDFF;
$menthe: #99E2D0;
$menthe_texte: #008766;
$blanc: white;
$gris-texte: #383838a9;
$noir: black;
$footer: #353535;