$primaire: #9356dc;
$segondaire: #FF79DA;
$tertiaire: #99E2D0;
$gris_claire: #F6F6F6;
$gris_fonce: #EAEAEA;
$rose_pale: #F5EDFF;
$menthe: #99E2D0;
$menthe_texte: #008766;
$blanc: white;
$gris-logo: rgb(126, 126, 126);
$gris-texte: rgb(64, 64, 64);
$noir: black;
$footer: #353535;


$breakpoints-desktop: (
    desktop: 992px
);



$breakpoints-tablette: (
    tablette: 768px
);